{% extends "layout.html" %}
{% set title = 'Radio example' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <!-- <form action="/radio-example" method="post">
        {{ govukRadios({
          idPrefix: "where-do-you-live",
          name: "where-do-you-live",
          fieldset: {
            legend: {
              text: "Where do you live?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "England",
              text: "England"
            },
            {
              value: "Scotland",
              text: "Scotland"
            },
            {
              value: "Wales",
              text: "Wales"
            },
            {
              value: "Northern Ireland",
              text: "Northern Ireland"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save"
        }) }}
      </form> -->

      <form action="/radio-example" method="post">
        {{ govukRadios({
          idPrefix: "where-do-you-live",
          name: "where-do-you-live",
          fieldset: {
            legend: {
              text: "Where do you live?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "England",
              text: "England",
              checked: "checked" if data['where-do-you-live'] == "England" else ""
            },
            {
              value: "Scotland",
              text: "Scotland",
              checked: "checked" if data['where-do-you-live'] == "Scotland" else ""
            },
            {
              value: "Wales",
              text: "Wales",
              checked: "checked" if data['where-do-you-live'] == "Wales" else ""
            },
            {
              value: "Northern Ireland",
              text: "Northern Ireland",
              checked: "checked" if data['where-do-you-live'] == "Northern Ireland" else ""
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save"
        }) }}
      </form>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-l">Using a helper to simplify the template</h2>

      <form action="/radio-example" method="post">
        {{ govukCheckboxes({
          fieldset: {
            legend: {
              text: "Where do you live?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              text: "England"
            },
            {
              text: "Scotland"
            },
            {
              text: "Wales"
            },
            {
              text: "Northern Ireland"
            }
          ]
        } | decorateFormAttributes('where-do-you-live-2')) }}

        {{ govukButton({
          text: "Save"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
